@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1319;
  --text-main: #e6eef1;
}

body {
  background-color: var(--background);
  color: var(--text-main);
  overflow-x: hidden; /* Prevent scrollbar when menu slides */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for clean UI */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f1319;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}